nav {
    align-items: center;
    background-color: #6645eb;
    display: flex;
    column-gap: 2rem;
    height: 67px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav a {
    color: #ffffff81;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem;
    transition: background-color 0.4s ease;
}

nav a.active {
    color: #ffffff;
    background-color: #8667ff;
}

nav a:hover {
    color: #ffffff;
    background-color: #8667ff;
}

@media screen and (max-width: 720px) {
    nav {
        column-gap: 1rem;
    }
    
    nav a {
        font-size: 0.75rem;
    }
}