.contactContainer {
    padding-top: 8rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    text-align: left;
    width: 100%;
}

.formContainer input,
textarea {
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
    padding: 1rem 0.75rem;
}

input,
textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.formButton {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #6645eb;
    border: none;
    border-radius: 10rem;
    font-weight: 700;
    margin: 1rem 0 5rem;
    padding: 0.5rem 1.5rem;
}

.formButton:hover {
    background-color: rgb(102, 69, 235, 0.5);
}