.footer {
    margin: 0 auto;
    height: 100px;
}

.footer hr {
    width: 100%;
}

.details {
    color: #ffffff;
}

.name {
    color: #6645eb;
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .footer hr {
        width: 85%;
    }

    .details {
        font-size: 0.75rem;
    }
}